.header {
  width: 100vw;
  height: 88px;
  padding: 0 25px;
  background-color: aqua;

  .div_contain-wrapper {
    max-width: 1140px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .h1_wesely-home {
      cursor: pointer;
      width: 116px;

      .img_logo {
        width: 100%;
      }
    }
    .nav {
      height: auto;
      width: auto;
      z-index: auto;
      background-color: inherit;
      position: static;

      .div_modal-wrapper {
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        overflow-y: initial;

        .ul_list {
          padding: 0;
          margin-left: 30px;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          background-color: inherit;
          list-style: none;

          .li_list-item-star-inserted {
            display: list-item;
            cursor: pointer;
            position: static;
            margin-bottom: 0;
            margin-right: 46px;

            .span_link-active {
              display: inline-block;
              color: #0055b8;
              font-weight: 400;
              font-size: 16px;
              line-height: 130%;
              letter-spacing: -0.06em;
              width: 100%;
              cursor: pointer;
            }
          }

          .li_list-item {
            cursor: pointer;
            position: static;
            margin-bottom: 0;
            margin-right: 46px;
            position: relative;
            margin-bottom: 36px;

            .span_link {
              display: inline-block;
              width: 100%;
              font-weight: 300;
              font-size: 16px;
              line-height: 130%;
              letter-spacing: -0.06em;
              color: #3a3a3a;
              cursor: pointer;

              .span_arrow-wrapper {
                width: 100%;
                display: inline-block;
                position: relative;
              }
            }
          }
        }
      }
    }
  }
}
