.div_header-wrapper-subscription-bg-active {
  height: 88px;
  background-color: #ececec;
  border-bottom: 0;
  position: relative;
  transition: height 0.2s ease-in-out;

  .div_scroll-wrapper-inserted {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    .header_padding {
      width: 100vw;
      height: 88px;
      padding: 0 25px;

      .div_contain-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1140px;
        height: 100%;

        .h1_wesely-logo {
          cursor: pointer;
          width: 116px;

          img {
            width: 100%;
          }
        }

        .div_user-info-wrapper {
          display: flex;
          flex-direction: row;
          line-height: 130%;
          font-weight: 300;
          font-size: 19px;
          letter-spacing: -0.06em;
          color: #3a3a3a;

          .span_login {
            cursor: pointer;
          }

          .div_basket-wrapper {
            display: flex;
            margin-left: 15px;

            .span_basket {
              cursor: pointer;
              margin-right: 4px;
            }
            .div_basket-quantity-wrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #0055b8;

              .span_quantity-count {
                color: #fff;
              }
            }
          }
        }
      }

      .nav_inserted {
        position: static;
        width: auto;
        height: auto;
        background-color: inherit;

        .div_contents-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: auto;

          .ul_contents {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;
            font-size: 19px;
            padding: 0;
            margin-left: 30px;
            background-color: inherit;
            list-style: none;

            .li_items-inserted {
              position: static;
              margin-bottom: 0;
              margin-right: 10px;
              outline: none;
              text-decoration: none;
              cursor: pointer;

              .span_link-active {
                display: inline-block;
                font-weight: 300;
                line-height: 130%;
                letter-spacing: -0.06em;
                color: #3a3a3a;

                &:hover {
                  color: blue;
                }
              }
            }
            .li_items {
              margin-bottom: 0;
              margin-right: 10px;
              cursor: pointer;
              position: static;

              .span_link {
                display: inline-block;
                font-weight: 300;
                line-height: 130%;
                letter-spacing: -0.06em;
                color: #3a3a3a;

                &:hover {
                  color: blue;
                }
              }
            }
            .span_link-limited-purchase {
              position: relative;
              display: inline-block;
              font-weight: 300;
              line-height: 130%;
              letter-spacing: -0.06em;
              color: #3a3a3a;
              cursor: pointer;

              &:hover {
                color: blue;
              }

              .span_limited-purchase {
                position: absolute;
                width: 100%;
                left: 0;
                top: -14px;
                font-size: 13px;
                line-height: 130%;
                text-align: center;
                letter-spacing: -0.04em;
                color: #0055b8;
                transform: translateY(0);
              }
            }
          }
        }
      }
    }
  }
}

.visible {
  /* 애니메이션 이름 */

  width: 100%;
  animation-name: fadein;
  animation-duration: 1s;
  animation-duration: leaner;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.unvisible {
  /* 애니메이션 이름 */
  width: 100%;
  animation-name: fadeout;
  animation-duration: 1s;
  animation-duration: leaner;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
// /* 키프레임 이름 = 애니메이션 이름 */
@keyframes fadein {
  from {
    opacity: 1;
    transform: translateY(-188px);
    height: 0px;
  }
  to {
    transform: translateY(-88px); // done 클릭시 내려오는것
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
    transform: translateY(-88px);
  }
  to {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    transform: translateY(-188px);
  }
}

.aaa {
  height: 300px;
  background-color: red;
}

.ProductNav {
  display: flex;

  position: absolute;
}
