.Main {
  .subscription-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 160px;
    margin-top: 0;
    height: 880px;
    background: url(https://wiselyshave-cdn.s3.amazonaws.com/assets/images/background/subscription/subscription_background.png)
      no-repeat center bottom / cover;

    .subscription-main-title {
      width: 100%;
      margin-bottom: 28px;
      font-size: 38px;
      font-weight: 300;
      letter-spacing: -0.04em;
      line-height: 130%;

      strong {
        font-weight: 400;
      }
    }
    .subscription-main-sub-title {
      margin-bottom: 60px;
      font-size: 16px;
      font-weight: 300;
      line-height: 130%;
      letter-spacing: -0.06em;
    }
    .btn-start {
      display: flex;
      justify-content: center;
      margin: 0 auto;

      .start {
        width: 180px;
        height: 60px;
        background-color: #0055b8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        border: none;
        border-radius: 4px;
        color: #fff;
        text-align: center;
        font-weight: 400 !important;
        font-size: 20px;
        letter-spacing: -0.06em !important;
        line-height: 60px;
        cursor: pointer;
      }
    }
  }

  .free {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    height: 776px;

    .free-title {
      margin-bottom: 120px;
      font-size: 38px;
      font-weight: 300;
      line-height: 130%;
      letter-spacing: -0.06em;
      text-align: center;
      color: #1e314a;

      strong {
        font-weight: 400;
      }
    }
    .free-item-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      max-width: 100%;
      width: 100%;
      margin-bottom: 0;

      .free-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          display: inline-block;
          margin-bottom: 28px;
          width: 160px;
          height: 110px;
        }

        p {
          color: #1e314a;
          font-size: 20px;
          line-height: 148%;
          letter-spacing: -0.06em;
          text-align: center;
          white-space: pre-line;
          color: #1e314a;
        }
      }
    }
  }

  .smooth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f5;
    height: 1021px;
    padding-top: 120px;

    .smooth-title {
      font-weight: 300;
      font-size: 48px;
      line-height: 130%;
      letter-spacing: -0.02em;
      text-align: center;
      color: #1e314a;

      strong {
        font-weight: 400;
      }
    }

    img {
      width: 280px;
      margin: 0 auto;
    }
  }
}
