.Signup {
  height: 100vh;
  width: 100%;
  background-image: url(https://wiselyshave-cdn.s3.amazonaws.com/assets/images/signInBg.png);
  background-position: 50%;
  background-size: cover;
  min-height: 1200px;
  padding-top: 50px;
  .signup-logo {
    margin-left: calc(19vw + 192px);
    margin-top: 18px;
    margin-bottom: 40px;
  }
  .signup-container {
    height: 900px;
    width: 500px;
    box-shadow: 1px solid;
    padding: 60px 50px;
    margin-left: 19vw;
    background-color: white;
  }
  .input_header {
    margin-top: 24px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #3a3a3a;
    letter-spacing: -0.04em;
    font-weight: 300;
  }
  .notice-msg-none {
    display: none;
  }
  .notice-msg-visible {
    visibility: visible;
    color: red;
  }
  .font-size {
    font-size: 40px;
    font-weight: 300;
  }
  .font-size-bold {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 55px;
  }
  .id-container {
    height: 48px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    .input_id {
      all: unset;
      width: 320px;
    }
    .div_checkbox {
      width: 400px;
      height: 148px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  .gender-container {
    display: flex;
  }
  .gender-male-text {
    font-size: 20px;
    padding: 5px;
  }
  .gender-female-text {
    font-size: 20px;
    padding: 5px;
  }
  .signup-btn {
    width: 400px;
    height: 60px;
    margin-top: 20px;
    background-color: #cecece;
    border: none;
    pointer-events: none;
  }
  .signup-btn-blue {
    width: 400px;
    height: 60px;
    margin-top: 20px;
    background-color: blue;
    border: none;
    pointer-events: auto;
  }
  .signup-btn-text {
    color: white;
    font-size: 20px;
  }
}
