.Payment {
  .nav-logo {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 88px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 32px;

    .logo-wrapper {
      display: flex;
      align-items: center;

      .logo {
        cursor: pointer;
      }
    }
  }

  .option-wrapper {
    display: flex;
    justify-content: center;
    min-height: 1160px;
    margin: 68px auto 0;

    .option-list-wrapper {
      width: 350px;
      margin: 0 16px;

      .option-header {
        display: flex;
        justify-content: space-between;
        height: 80px;
        border-bottom: 1px solid #cecece;

        .user-info {
          align-self: center;

          .first-delivery-info {
            font-size: 16px;
            line-height: 130%;
            align-items: center;
            color: #1e314a;
          }
          .second-delivery-info {
            margin-top: 2px;
            font-size: 14px;
            font-weight: 300;
            line-height: 140%;
            letter-spacing: -0.06em;
            color: #979797;
          }
        }
        .info-modify {
          align-self: center;
          color: #0055b8;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: -0.06em;
          cursor: pointer;
        }
      }

      .option-content {
        padding: unset;

        .option-title {
          font-size: 46px;
          margin-top: 40px;
          margin-bottom: 58px;
          line-height: 130%;
          letter-spacing: -0.06em;
          color: #1e314a;

          .title-regular {
            font-weight: 400;
          }
          .title-light {
            font-weight: 300;
          }
        }

        .option-list {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          padding: 6px 14px;
          border: 1px solid #cecece;
          border-radius: 4px;
          width: 350px;
          height: 60px;
          cursor: pointer;

          &.active {
            border: 1px solid #0055b8;
          }
          .list-img-box {
            margin-right: 14px;
            width: 50px;
          }
          .option-text {
            color: #979797;
            font-weight: 300;
          }
        }

        .option-bottom {
          margin-top: 16px;

          .payment-button {
            display: inline-block;
            outline: none;
            border: 0;
            border-radius: 4px;
            width: 100%;
            height: 60px;
            color: #fff;
            font-weight: 400;
            font-size: 20px;
            background-color: #cecece;

            &.active {
              background-color: #0055b8;
              cursor: pointer;
            }
          }
        }
      }
    }

    .center-dividebar {
      display: block;
      width: 1px;
      height: 768px;
      background-color: #efefef;
      margin-left: 30px;
      margin-right: 64px;
    }
    .right-wrapper {
      display: flex;

      .cart-box {
        width: 425px;
        padding: 55px 10px 200px 0;

        .selected-item-price-div {
          margin-top: 20px;
          padding: 0 10px;

          .price-box {
            display: flex;
            justify-content: space-between;
            font-weight: 300;
            line-height: 130%;
            letter-spacing: -0.06em;
            color: #979797;
          }

          .delivery-fee-box {
            display: flex;
            justify-content: space-between;
            margin-top: 6px;
            font-weight: 300;
            line-height: 130%;
            letter-spacing: -0.06em;
            color: #979797;
          }

          .total-price-box {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 16px;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: -0.06em;
            color: #3a3a3a;
          }
        }
      }
    }
  }
}
