.SetPresent {
  .container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .secition-first {
      width: 100%;
      max-height: 852px;
      height: calc(100vh - 68px);
      padding: 0 50px;

      background: url("https://wiselyshave-cdn.s3.amazonaws.com/assets/images/background/giftSet/main_background.png")
        no-repeat center;
      background-size: cover;

      .span-container {
        width: 1000px;
        height: 500px;
        margin: 0 20%;

        h3 {
          padding-top: 100px;
          margin-block-start: 1em;
          margin-block-end: 1em;
          font-size: 48px;
          color: #1e314a;

          strong {
            font-weight: bold;
          }
        }
        p {
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
        }

        span {
          color: #0055b8;
        }
      }
    }
    .secition-second {
      max-height: 820px;
      height: calc(100vh - 150px);
      display: flex;

      img {
        width: 50%;
        height: auto;
      }

      .text-container {
        width: 50%;
        height: auto;

        .text-box {
          margin: 170px 0 100px 40px;
          text-align: left;

          h4 {
            font-size: 30px;
            display: block;
            margin-block-start: 1.33em;
            margin-block-end: 1.33em;
          }

          p {
            font-size: 14px;
            display: block;
            margin-top: 28px;
          }

          strong {
            font-weight: bold;
          }
        }
      }
    }

    .secition-third {
      height: 300px;
      margin-top: 150px;
      display: flex;
      justify-content: center;
      background-color: #fafafa;

      .new {
        height: 300px;
        width: 700px;
        margin-left: 100px;

        .new-item {
          height: 100px;
          width: 500px;
          margin-top: 30px;
          margin-bottom: 50px;
          text-align: center;

          p {
            font-size: 25px;
            margin-bottom: 50px;
          }
        }
        .new-icon {
          height: 50px;
          width: 500px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            margin-right: 50px;
            margin-left: 50px;
          }
        }
      }
    }

    .secition-forth {
      width: 100%;
      height: 350px;
      margin-top: 100px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        width: 100%;
        height: 100px;
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;

        p:nth-child(1) {
          font-weight: bold;
        }
      }
      .content {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 15px;

        .span-first {
          padding-top: 50px;
        }
      }

      .price {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .secition-fifth {
      width: 100%;
      $fifth_height: 880px;
      height: $fifth_height;
      background-color: #fafafa;

      .first-list {
        height: $fifth_height/2;

        .first-title {
          height: 100px;
          display: flex;
          justify-content: center;

          p {
            margin-top: auto;
            color: #0055b8;
          }
        }

        .first-content {
          display: flex;
          justify-content: center;

          .container-package {
            height: ($fifth_height/2)-100px;
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 250px;
            }

            .product-info {
              display: flex;
              flex-direction: column;
              align-items: center;

              p:nth-child(1) {
                font-weight: bold;
              }

              p:nth-child(2) {
                font-size: 12px;
                color: #cecece;
              }
            }
          }

          .container-gitft {
            height: ($fifth_height/2)-100px;
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 250px;
            }

            .product-info {
              display: flex;
              flex-direction: column;
              align-items: center;

              p:nth-child(1) {
                font-weight: bold;
              }

              p:nth-child(2) {
                font-size: 12px;
                color: #cecece;
              }
            }
          }

          .container-third {
            height: ($fifth_height/2)-100px;
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 250px;
            }

            .product-info {
              display: flex;
              flex-direction: column;
              align-items: center;

              p:nth-child(1) {
                font-weight: bold;
              }

              p:nth-child(2) {
                font-size: 12px;
                color: #cecece;
              }
            }
          }
        }
      }
      .second-list {
        height: $fifth_height/2;

        .second-title {
          height: 100px;
          display: flex;
          justify-content: center;

          p {
            margin-top: auto;
            color: #0055b8;
          }
        }

        .first-content {
          display: flex;
          justify-content: center;

          .container-first {
            height: ($fifth_height/2)-100px;
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 250px;
            }

            .product-info {
              display: flex;
              flex-direction: column;
              align-items: center;

              p:nth-child(1) {
                font-weight: bold;
              }

              p:nth-child(2) {
                font-size: 12px;
                color: #cecece;
              }
            }
          }

          .container-second {
            height: ($fifth_height/2)-100px;
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 250px;
            }

            .product-info {
              display: flex;
              flex-direction: column;
              align-items: center;

              p:nth-child(1) {
                font-weight: bold;
              }

              p:nth-child(2) {
                font-size: 12px;
                color: #cecece;
              }
            }
          }

          .container-third {
            height: ($fifth_height/2)-100px;
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 250px;
            }

            .product-info {
              display: flex;
              flex-direction: column;
              align-items: center;

              p:nth-child(1) {
                font-weight: bold;
              }

              p:nth-child(2) {
                font-size: 12px;
                color: #cecece;
              }
            }
          }
        }
      }
    }
  }
}
