$test_border1: 1px solid black;
$base-width: 1920px;
$base-height: 1000px;
.Product {
  top: 10px;
  position: relative;
}

.Product-none {
  width: 100%;
  height: 100%;
  background: #00000099;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}
