.SelectShaveColor {
  .shaver-img {
    height: 500px;
    display: flex;
    align-items: center;

    img {
      width: 500px;
      margin-left: -100px;
    }
  }

  .product-color {
    display: flex;
    justify-content: center;

    .select-btn {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: white;

      .black {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px black;
        border-radius: 50%;
      }

      .blue {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px blue;
        border-radius: 50%;
      }

      .grey {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px grey;
        border-radius: 50%;
      }

      .select-btn-color {
        .black {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: black;
        }

        .blue {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: blue;
        }

        .grey {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: grey;
        }
      }
    }
  }

  .product-color-value {
    text-align: center;
  }

  .btn-container {
    width: 100%;
    height: 80px;
    margin-top: 100px;
    display: flex;
    justify-content: center;

    button {
      width: 90%;
      height: 70px;
      border-radius: 10px;
      border: 0px;
      background-color: #0055b8;
      font-size: 20px;
      font-weight: bold;
      color: white;

      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
