.BulkPackageTitle {
  .title-wrapper {
    .product-title {
      font-size: 38px;
      letter-spacing: -0.06em;
      line-height: 140%;
      color: #1e314a;
    }

    .product-sub-title {
      font-size: 18px;
      line-height: 130%;
      letter-spacing: -0.06em;
      color: #0055b8;
    }

    .product-volume {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.04em;
      color: #1e314a;
    }
  }
}
