.footer-wrapper {
  width: 100%;
  height: 304px;
  // right: calc((100% - 980px)/2*-1); 대기
  bottom: 0;
  left: 0;
  padding: 0 30px;
  background: #1b2a38;
  font-weight: 300;
  line-height: 140%;
  color: #cecece;

  .footer-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #56636f;

    .header-content-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1140px;
      height: 50px;

      .header-flex-left {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;

        .header-left-text {
          margin-right: 10px;
          font-size: 12px;
          letter-spacing: -0.04em;
          cursor: pointer;
        }
      }
      .header-flex-right {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: auto;
        height: 50px;
        font-size: 14px;

        .header-title-login {
          letter-spacing: -0.06em;

          .header-title-login {
            cursor: pointer;
            margin-right: 20px;
          }
        }

        .header-title-link {
          cursor: pointer;
          margin-right: 20px;
        }
      }
    }
  }
  .footer-content {
    display: flex;
    justify-content: center;
    margin-top: 26px;

    .pc-flex {
      max-width: 1140px;
      width: 100%;

      .pc-footer {
        display: flex;
        justify-content: space-between;

        .info {
          margin-top: 10px;
          padding-bottom: 20px;

          p {
            font-weight: 300;
            font-size: 12px;
            line-height: 180%;
            letter-spacing: -0.04em;
          }

          .info-bold {
            font-weight: 400;
          }

          .info-text-margin-top {
            margin-top: 10px;

            span {
              border-bottom: 1px solid #cecece;
              cursor: pointer;
            }
          }
        }

        .sns-logo {
          display: flex;

          .facebook {
            text-align: center;
            width: 46px;
            img {
              cursor: pointer;
            }
          }

          .instagram {
            text-align: center;
            width: 46px;
            img {
              cursor: pointer;
            }
          }
        }
      }

      .copyright {
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.06em;

        .text-bold {
          font-weight: 400;
        }
      }
    }
  }
}
