.SideBar {
  height: 1300px;
  width: 25%;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 101;
  width: 25%;
  left: 50%;

  position: fixed;
  transform: translate(100%, 0%);

  animation-name: slidein;
  animation-duration: 1s;
}

.SideBar-none {
  height: 1300px;
  width: 25%;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  z-index: 101;
  width: 25%;
  left: 50%;

  position: fixed;
  transform: translate(200%, 0%);

  animation-name: slideout;
  animation-duration: 1s;
}

@keyframes slidein {
  from {
    transform: translate(200%, 0%);
  }

  to {
    transform: translate(100%, 0%);
  }
}

@keyframes slideout {
  from {
    transform: translate(100%, 0%);
  }

  to {
    transform: translate(200%, 0%);
  }
}
